---
- include_tasks: check_vars.yml

- include_tasks: download.yml
  tags:
    - download

- include_tasks: dependencies.yml
  tags:
    - install

- name: "Add patch for redis-5.0.5 in Ubuntu 22.04"
  ansible.builtin.lineinfile:
    path: /usr/local/src/redis-5.0.5/src/sds.h
    regexp: '^const char \*SDS_NOINIT;'
    line: 'extern const char *SDS_NOINIT;'
  when: redis_version == '5.0.5'

- include_tasks: install.yml
  tags:
    - install

- include_tasks: server.yml
  when: not redis_sentinel
  tags:
    - config

- include_tasks: sentinel.yml
  when: redis_sentinel
  tags:
    - config

- include_tasks: local_facts.yml
  when: redis_local_facts|bool
